###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=9dc5a8cb550e9d90973a973fceb02572
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://root:password@127.0.0.1:3306/carforrentsymfony?serverVersion=5.7&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=a464d9a7e70a9eb513f1104859f60e1f
###< lexik/jwt-authentication-bundle ###

S3_KEY_ID=
S3_KEY_SECRET=
S3_BUCKET_NAME=
S3_URL=https://carforrent.s3.ap-southeast-1.amazonaws.com

SQS_URL=https://sqs.ap-southeast-1.amazonaws.com/322647302130/carforrent-richardktran
